<div th:fragment="sidebar" id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">HOME</div>
                    <a class="nav-link" th:href="@{/libro}"
                        ><div class="sb-nav-link-icon"><i class="fas fa-home"></i></i></div>
                        Bienvenido!
                    </a>
                   
                    <div class="sb-sidenav-menu-heading">Páginas</div>
                    
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                        ><div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                        Libros
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                    ></a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/libro/agregar}">Agregar Libro</a>
                            <a class="nav-link" th:href="@{/libro/lista}">Editar Libro</a>
                        	<a class="nav-link" th:href="@{/libro/lista}">Mostrar Libros</a></nav>
                    </div>

                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#categoria" aria-expanded="false" aria-controls="collapseLayouts"
                        ><div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Categorías
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                    ></a>
                    <div class="collapse" id="categoria" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/categoria/agregar}">Agregar Categoría</a>
                            <a class="nav-link" th:href="@{/categoria/lista}">Editar Categoría</a>
                        	<a class="nav-link" th:href="@{/categoria/lista}">Mostrar Categorías</a></nav>
                    </div>

                    <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"
                        ><div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Categorías
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                    ></a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" th:href="@{/categoria/agregar}" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth"
                                >Agregar Categoría</a>
                            <a class="nav-link collapsed" th:href="@{/categoria/lista}"  data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError"
                                >Mostrar Categorías</a>
                        </nav>
                    </div> -->

                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#autor" aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-pencil-alt"></i></div>
                    Autores
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="autor" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/autor/agregar}">Agregar Autor</a>
                            <a class="nav-link" th:href="@{/autor/lista}">Editar Autor</a>
                        	<a class="nav-link" th:href="@{/autor/lista}">Mostrar Autores</a></nav>
                    </div>
                    
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#usuario" aria-expanded="false" aria-controls="collapseLayouts"
                        ><div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                        Usuarios
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                    ></a>
                    <div class="collapse" id="usuario" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/usuario/agregar}">Agregar Usuario</a>
                            <a class="nav-link" th:href="@{/usuario/lista}">Editar Usuario</a>
                        	<a class="nav-link" th:href="@{/usuario/lista}">Mostrar Usuarios</a></nav>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    
    <div id="layoutSidenav_content" layout:fragment="content">
    </div>
</div>