<div th:fragment="sidebar" id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">HOME</div>
                    <a class="nav-link" th:href="@{/}"
                        ><div class="sb-nav-link-icon"><i class="fas fa-home"></i></i></div>
                        Bienvenido!
                    </a>
                   
                    <div class="sb-sidenav-menu-heading">Páginas</div>
                    
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                        ><div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                        LIBROS
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                    ></a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/libro/agregar}"><div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>Agregar Libro</a>
                            <a class="nav-link" th:href="@{/libro/lista}"><div class="sb-nav-link-icon"><i class="fas fa-edit"></i></div>Editar Libro</a>
                            <a class="nav-link" th:href="@{/libro/lista}"><div class="sb-nav-link-icon"><i class="far fa-trash-alt"></i></div>Eliminar Libro</a>
                        	<a class="nav-link" th:href="@{/libro/lista}"><div class="sb-nav-link-icon"><i class="far fa-list-alt"></i></div>Mostrar Libros</a></nav>
                    </div>

                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#categoria" aria-expanded="false" aria-controls="collapseLayouts"
                        ><div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        CATEGORÍAS
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                    ></a>
                    <div class="collapse" id="categoria" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/categoria/agregar}"><div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>Agregar Categoría</a>
                            <a class="nav-link" th:href="@{/categoria/lista}"><div class="sb-nav-link-icon"><i class="fas fa-edit"></i></div>Editar Categoría</a>
                            <a class="nav-link" th:href="@{/categoria/lista}"><div class="sb-nav-link-icon"><i class="far fa-trash-alt"></i></div>Eliminar Categoría</a>
                        	<a class="nav-link" th:href="@{/categoria/lista}"><div class="sb-nav-link-icon"><i class="far fa-list-alt"></i></div>Mostrar Categorías</a></nav>
                    </div>

                    <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"
                        ><div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Categorías
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                    ></a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" th:href="@{/categoria/agregar}" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth"
                                ><div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>Agregar Categoría</a>
                            <a class="nav-link collapsed" th:href="@{/categoria/lista}"  data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError"
                                ><div class="sb-nav-link-icon"><i class="far fa-list-alt"></i></div>Mostrar Categorías</a>
                        </nav>
                    </div> -->

                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#autor" aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-pencil-alt"></i></div>
                    AUTORES
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="autor" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/autor/agregar}"><div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>Agregar Autor</a>
                            <a class="nav-link" th:href="@{/autor/lista}"><div class="sb-nav-link-icon"><i class="fas fa-edit"></i></div>Editar Autor</a>
                            <a class="nav-link" th:href="@{/autor/lista}"><div class="sb-nav-link-icon"><i class="far fa-trash-alt"></i></div>Eliminar Autor</a>
                        	<a class="nav-link" th:href="@{/autor/lista}"><div class="sb-nav-link-icon"><i class="far fa-list-alt"></i></div>Mostrar Autores</a></nav>
                    </div>
                    
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#usuario" aria-expanded="false" aria-controls="collapseLayouts"
                        ><div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                        USUARIOS
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                    ></a>
                    <div class="collapse" id="usuario" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/usuario/agregar}"><div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>Agregar Usuario</a>
                            <a class="nav-link" th:href="@{/usuario/lista}"><div class="sb-nav-link-icon"><i class="fas fa-edit"></i></div>Editar Usuario</a>
                            <a class="nav-link" th:href="@{/usuario/lista}"><div class="sb-nav-link-icon"><i class="far fa-trash-alt"></i></div>Eliminar Usuario</a>
                        	<a class="nav-link" th:href="@{/usuario/lista}"><div class="sb-nav-link-icon"><i class="far fa-list-alt"></i></div>Mostrar Usuarios</a></nav>
                    </div>

                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#imagen" aria-expanded="false" aria-controls="collapseLayouts"
                        ><div class="sb-nav-link-icon"><i class="far fa-image"></i></div>
                        IMAGENES
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                    ></a>
                    <div class="collapse" id="imagen" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/imagen/lista}"><div class="sb-nav-link-icon"><i class="far fa-trash-alt"></i></div>Eliminar Imagen</a>
                        	<a class="nav-link" th:href="@{/imagen/lista}"><div class="sb-nav-link-icon"><i class="far fa-list-alt"></i></div>Mostrar Imagenes</a></nav>
                    </div>

                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#compra" aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-money-check-alt"></i></div>
                    VENTAS
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                    ></a>
                    <div class="collapse" id="compra" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/compra/lista}"><div class="sb-nav-link-icon"><i class="far fa-trash-alt"></i></div>Eliminar Venta</a>
                            <a class="nav-link" th:href="@{/compra/lista}"><div class="sb-nav-link-icon"><i class="far fa-list-alt"></i></div>Mostrar Ventas</a></nav>
                    </div>

                </div>
            </div>
        </nav>
    </div>
    
    <div id="layoutSidenav_content" class="container-fluid" layout:fragment="content">
    </div>
</div>